body {
    margin: 35px;
}
div {
    padding: 20px;
    width: 250px;
    background-color: green;
    margin: 10px;
}
div p {
    margin: 0;
}
p {
    width: 190px;
    padding: 18px 25px;
    font-size: 30px;
    border: 4px solid black;
    background-color: yellow;
    color: blue;
}